body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #CEE6F3;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
    display: grid;
    gap: 2rem;
}

section {
    background-color: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 1rem;
}

p {
    color: #444;
}

img {
            height: 200px;
            width: 500px;
}

footer {
    background-color: #F5F5F5;
    color: #fff;
    text-align: center;
